.containerr {
  position: relative;

  background: url("../../assets/golftours.png"); /* Replace with your image */
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease; /* Smooth transition for the overlay effect */
}

.full-overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.containerr:hover .full-overlay {
  opacity: 1; /* Show the overlay when container is hovered */
}

.text-centerr {
  color: white; /* Text color */

  text-transform: uppercase; /* Optional style */
}
